/* colors */
/*================================================
PRELOADER
================================================*/
#loader {
  display: none; }

.js #loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  padding-top: 200px;
  z-index: 999; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9da2a8;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
/*================================================
STYCKY FOOTER
================================================*/
body, html {
  height: 100%; }

#page-wrap {
  min-height: 100%;
  margin-bottom: -365px; }

#page-wrap:after {
  content: "";
  display: block; }

#footer-bottom, #page-wrap:after {
  height: 68px; }

#page-wrap:after {
  height: 365px; }

/*================================================
MAIN STYLES
================================================*/
html {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }

body.header-fixed {
  margin-top: 60px; }

a, .widget .nav-tabs li.active a, .button, button {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

a, .widget .nav-tabs li.active a {
  color: #59cbf8; }
  a.link, .widget .nav-tabs li.active a.link {
    text-decoration: underline; }
  a:hover, .widget .nav-tabs li.active a:hover, a:active, .widget .nav-tabs li.active a:active, a:focus, .widget .nav-tabs li.active a:focus {
    color: #0aa4e1;
    text-decoration: none; }

#page-wrap > section {
  padding: 35px 0;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px; }

#page-wrap > section.no-padding {
  padding: 0; }

#page-wrap > section.bg-dark-blue {
  color: #fff; }

h2.title {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 16px 0; }

h2.title.text-left {
  text-align: left; }

h3 {
  font-size: 24px;
  font-weight: normal; }

h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal; }

h5 {
  font-size: 18px;
  font-weight: bold; }

p {
  margin-bottom: 15px; }

.big-title {
  text-align: center;
  font-size: 48px;
  margin: 0 0 18px;
  line-height: 1; }
  @media (max-width: 991px) {
    .big-title {
      font-size: 35px; } }

ul.icon-list li i {
  display: inline-block;
  float: left;
  font-size: 14px;
  position: relative;
  top: 2px; }
ul.icon-list li span {
  display: block;
  margin-left: 25px; }

::-moz-selection {
  background-color: #9da2a8;
  color: #fff; }

::selection {
  background-color: #9da2a8;
  color: #fff; }

#back-to-top {
  display: block;
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  color: #c6c8cc;
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #c6c8cc;
  border-radius: 8px;
  background-color: #fff;
  z-index: 999; }
  #back-to-top:hover {
    background-color: #59cbf8;
    border-color: #59cbf8;
    color: #fff; }
  #back-to-top i {
    position: relative;
    bottom: 4px; }
  #back-to-top.visible {
    right: 25px; }
    @media (max-width: 767px) {
      #back-to-top.visible {
        display: none; } }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  border: 1px solid #d3d5d8 !important;
  -webkit-box-shadow: none;
  box-shadow: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  border-color: #59cbf8 !important; }

.js [data-sr] {
  visibility: hidden; }

#contact-form .alert {
  display: none; }

/*================================================
CLASSES
================================================*/
.phone, .email {
  display: inline-block;
  position: relative;
  padding-left: 25px; }
  .phone::before, .email::before {
    font-family: FontAwesome;
    position: absolute;
    display: block;
    content: "\f095";
    line-height: 1;
    top: 50%;
    margin-top: -8px;
    left: 0px;
    font-size: 16px; }

.email::before {
  font-size: 12px;
  margin-top: -6px;
  content: "\f0e0"; }

.socials, .socials.rounded {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .socials li, .socials.rounded li {
    float: left; }
    .socials li a, .socials.rounded li a, .socials .widget .nav-tabs li.active a, .widget .nav-tabs .socials li.active a {
      display: inline-block;
      color: #9da2a8;
      font-size: 14px; }
      .socials li a:hover, .socials .widget .nav-tabs li.active a:hover, .widget .nav-tabs .socials li.active a:hover {
        color: #59cbf8; }
    .socials li:not(:last-child) a, .socials li:not(:last-child) .widget .nav-tabs li.active a, .widget .nav-tabs li.active .socials li:not(:last-child) a {
      margin-right: 20px; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.socials.rounded {
  display: block; }
  .socials.rounded::after {
    content: "";
    display: table;
    clear: both; }
  .socials.rounded li a, .socials.rounded .widget .nav-tabs li.active a, .widget .nav-tabs .socials.rounded li.active a {
    position: relative;
    font-size: 16px;
    text-align: center;
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: #fff;
    overflow: visible;
    border: 1px solid #d8d8d8;
    border-radius: 50%; }
    .socials.rounded li a::before, .socials.rounded .widget .nav-tabs li.active a::before, .widget .nav-tabs .socials.rounded li.active a::before {
      opacity: 0;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #59cbf8;
      z-index: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
    .socials.rounded li a:hover {
      background-color: #59cbf8;
      color: #fff;
      border-color: #59cbf8; }
    .socials.rounded li a:hover::before {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.bg-dark-blue {
  background-color: #0a1625; }

.bg-light-blue {
  background-color: #59cbf8; }

.bg-light-gray {
  background-color: #f2f2f2; }

.bg-white {
  background-color: #fff; }

.bg-mask {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  box-sizing: border-box; }
  .bg-mask * {
    position: relative;
    z-index: 5; }
  .bg-mask::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 22, 37, 0.8);
    z-index: 0; }

[data-type="background"] {
  background-repeat: repeat-y;
  background-attachment: fixed; }
  @media (max-width: 991px) {
    [data-type="background"] {
      background-position: center !important;
      background-attachment: scroll; } }

.one-line {
  min-height: 58px;
  font-size: medium;
  line-height: 58px; }
  @media (max-width: 991px) {
    .one-line {
      text-align: center;
      line-height: 1.5; } }

.text-lager {
  font-size: 18px;
  font-weight: 300; }

.cover-img {
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .cover-img img {
    height: 100%;
    width: auto; }

.button {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #59cbf8;
  height: 58px;
  min-width: 240px;
  line-height: 58px;
  padding: 0 23px;
  border: 1px solid #59cbf8;
  border-radius: 6px;
  box-sizing: border-box; }
  .button:hover, .button:focus, .button:active {
    color: #fff;
    text-decoration: none;
    border: 1px solid #0aa4e1;
    background-color: #0aa4e1; }
  .button.button-small {
    height: 30px;
    line-height: 30px;
    min-width: 120px;
    font-size: 14px;
    border-radius: 4px; }
  .button.nobg {
    background-color: transparent;
    color: #9da2a8;
    border: 1px solid #9da2a8; }
    .button.nobg:hover {
      background-color: #59cbf8;
      border-color: #59cbf8;
      color: #fff; }

.thumb-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .thumb-wrap img {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  .thumb-wrap::before {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 22, 37, 0.8);
    z-index: 5;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .thumb-wrap::after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: block;
    font-family: FontAwesome;
    color: #fff;
    content: '\f00e';
    padding: 15px;
    font-size: 50px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    -moz-transform: translate(-50%, -50%) scale(1.5);
    -ms-transform: translate(-50%, -50%) scale(1.5);
    -o-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 6; }
  .thumb-wrap:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .thumb-wrap:hover::before, .thumb-wrap:hover::after {
    opacity: 1;
    visibility: visible; }
  .thumb-wrap:hover::after {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-inline li {
    display: block;
    float: left; }

.list-check {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-check li {
    position: relative;
    padding-left: 50px;
    margin: 18px 0; }
    .list-check li::before {
      position: absolute;
      font-family: FontAwesome;
      font-size: 30px;
      color: #9da2a8;
      content: "\f046";
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }

.fixed {
  position: fixed; }

.bordered {
  border-top: 1px solid #dcdddf;
  border-bottom: 1px solid #dcdddf; }

.search-input {
  position: relative; }
  .search-input::after {
    font-family: FontAwesome;
    color: #9da2a8;
    line-height: 34px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    height: 100%;
    width: 35px;
    content: "\f002"; }
  .search-input .form-control {
    padding-right: 35px; }
    @media (min-width: 768px) {
      .search-input .form-control {
        width: 220px; } }

.iconic {
  text-align: center;
  padding: 15px; }
  .iconic > * {
    margin: 7px 0; }
  .iconic i {
    color: #0a1625;
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: visible;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out; }
    .iconic i::before {
      position: relative;
      font-size: 50px;
      line-height: 130px;
      z-index: 1; }
    .iconic i::after {
      opacity: 0;
      display: block;
      position: absolute;
      content: "";
      width: 128px;
      height: 128px;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: #9da2a8;
      -webkit-transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 0; }
  .iconic:hover i {
    color: #fff !important; }
  .iconic:hover i::after {
    opacity: 1;
    -webkit-transform: scale(0.92);
    -moz-transform: scale(0.92);
    -ms-transform: scale(0.92);
    -o-transform: scale(0.92);
    transform: scale(0.92); }
  .iconic.red i {
    color: #f45b55;
    border-color: #f45b55; }
    .iconic.red i::after {
      background-color: #f45b55; }
  .iconic.green i {
    color: #46be77;
    border-color: #46be77; }
    .iconic.green i::after {
      background-color: #46be77; }
  .iconic.blue i {
    color: #30a29a;
    border-color: #30a29a; }
    .iconic.blue i::after {
      background-color: #30a29a; }
  .iconic.orange i {
    color: #fb7a36;
    border-color: #fb7a36; }
    .iconic.orange i::after {
      background-color: #fb7a36; }
  .iconic .title {
    text-transform: uppercase;
    font-weight: bold; }

.sm-iconic {
  position: relative;
  padding-left: 80px; }
  .sm-iconic i {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 30px;
    color: #59cbf8;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }

.iconic-meter {
  text-align: center;
  padding: 20px 10px 10px; }
  .iconic-meter i {
    font-size: 72px; }
  .iconic-meter .meter {
    font-size: 48px;
    font-weight: 500; }
  .iconic-meter .description {
    font-size: 30px;
    font-weight: 300; }

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: 'Roboto', sans-serif; }

.scrollingcarousel:not(:last-child) {
  margin-bottom: 30px; }
.scrollingcarousel ul {
  list-style: none;
  margin: 0;
  padding: 0; }
.scrollingcarousel li {
  float: left; }

.portfolio-img {
  position: relative !important;
  text-align: center;
  margin: 0 15px;
  width: 350px;
  height: 225px;
  overflow: hidden; }
  .portfolio-img .description {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 2;
    color: #fff;
    background-color: rgba(10, 22, 37, 0.8);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .portfolio-img .description > div {
      position: absolute;
      top: 50%;
      /*            margin-top: -45px;*/
      width: 100%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .portfolio-img .description .title {
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase; }
    .portfolio-img .description a, .portfolio-img .description .widget .nav-tabs li.active a, .widget .nav-tabs li.active .portfolio-img .description a {
      display: inline-block;
      margin: 0 10px;
      color: #fff;
      font-size: 18px; }
      .portfolio-img .description a:hover, .portfolio-img .description .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .portfolio-img .description a:hover {
        color: #59cbf8; }
  .portfolio-img:hover .description {
    opacity: 1;
    visibility: visible; }

.slick-slider * {
  outline: none; }

.team-member {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  overflow: hidden; }
  .team-member .mem-photo {
    width: 100%;
    height: 225px;
    text-align: center;
    margin-bottom: 15px; }
  .team-member .mem-name {
    font-size: 24px;
    font-weight: bold; }
  .team-member .mem-prof {
    font-size: 18px; }
  .team-member .mem-desc {
    padding: 10px 0; }
  .team-member .socials.rounded {
    text-align: center; }
    .team-member .socials.rounded li {
      float: none;
      display: inline-block; }
      .team-member .socials.rounded li a {
        margin: 5px 10px; }

.slick-arrow {
  position: absolute;
  top: 50%;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-align: center;
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
  border: none;
  margin-top: -18px;
  z-index: 99; }
  .slick-arrow::after {
    font-family: FontAwesome;
    font-size: 30px;
    display: block;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
    position: absolute;
    content: "\f105";
    color: #9da2a8;
    text-align: center;
    line-height: 32px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; }
  .slick-arrow.slick-prev::after {
    content: "\f104 "; }
  .slick-arrow:hover::after {
    color: #59cbf8; }
  .slick-arrow i {
    font-size: 30px;
    line-height: 27px; }
  .slick-arrow.rounded {
    border-radius: 50%; }
    .slick-arrow.rounded::after {
      border-radius: 50%;
      color: #9da2a8;
      border: 2px solid #9da2a8;
      line-height: 30px; }
    .slick-arrow.rounded:hover::after {
      color: #fff;
      background-color: #59cbf8;
      border-color: #59cbf8; }
  .slick-arrow.rounded-big {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
    .slick-arrow.rounded-big::after {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #9da2a8;
      border: 2px solid #9da2a8;
      line-height: 43px;
      font-size: 45px;
      background-color: transparent; }
    .slick-arrow.rounded-big:hover::after {
      color: #fff;
      background-color: #59cbf8;
      border-color: #59cbf8; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.pagination a:not(.next):not(.previous):not(.previous) {
  font-size: 18px;
  color: #9da2a8;
  padding: 6px 6px; }
.pagination a:hover, .pagination .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .pagination a:hover, .pagination li.active a, .pagination .widget .nav-tabs li.active a, .widget .nav-tabs .pagination li.active a {
  color: #59cbf8 !important; }

.pagination-container {
  padding-top: 0;
  margin-top: -30px; }

.next, .previous {
  position: relative;
  left: 15px;
  top: 3px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #d3d5d8 !important;
  border-radius: 4px;
  line-height: 35px;
  text-align: center;
  padding: 0 !important; }
  .next i, .previous i {
    font-size: 30px; }

.previous {
  left: -15px; }

.recent-proj {
  list-style: none;
  margin: 0 0 -20px 0;
  padding: 0;
  text-align: justify;
  line-height: 1; }
  .recent-proj li {
    display: inline-block;
    width: 65px;
    height: 65px;
    overflow: hidden;
    margin-bottom: 20px; }
    .recent-proj li a, .recent-proj .widget .nav-tabs li.active a, .widget .nav-tabs .recent-proj li.active a {
      display: inline-block;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
      .recent-proj li a:hover, .recent-proj .widget .nav-tabs li.active a:hover, .widget .nav-tabs .recent-proj li.active a:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }

.helper {
  display: inline-block !important;
  width: 100% !important;
  height: 0 !important;
  visibility: hidden;
  margin: 0 !important; }

.list-of-posts {
  list-style: none;
  margin: 0;
  padding: 0; }
  .list-of-posts::after {
    content: "";
    display: table;
    clear: both; }
  .list-of-posts li {
    margin: 20px 0; }
  .list-of-posts .cover-img {
    width: 62px;
    height: 62px;
    float: left; }
  .list-of-posts .lp-content {
    margin-left: 70px; }
  .list-of-posts h4 {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase !important;
    margin: 0 0 7px !important;
    border-bottom: 1px solid #f2f2f2; }
    .list-of-posts h4 a, .list-of-posts h4 .widget .nav-tabs li.active a, .widget .nav-tabs li.active .list-of-posts h4 a {
      color: #0a1625; }
      .list-of-posts h4 a:hover, .list-of-posts h4 .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .list-of-posts h4 a:hover {
        text-decoration: none;
        color: #59cbf8; }
    .list-of-posts h4 time {
      display: block;
      font-size: 12px;
      font-weight: 300;
      padding: 4px 0;
      text-transform: none; }
  .list-of-posts .info {
    font-size: 12px; }
    .list-of-posts .info a, .list-of-posts .info .widget .nav-tabs li.active a, .widget .nav-tabs li.active .list-of-posts .info a {
      display: inline-block;
      color: #9da2a8;
      margin-right: 10px; }
      .list-of-posts .info a:hover, .list-of-posts .info .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .list-of-posts .info a:hover {
        text-decoration: none;
        color: #696f76; }

.tag {
  display: inline-block;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 35px;
  text-transform: lowercase;
  margin: 0 0px 7px 0;
  color: #9da2a8;
  border: 1px solid #9da2a8;
  border-radius: 6px;
  color: #9da2a8; }
  .tag::before {
    position: absolute;
    display: block;
    font-family: FontAwesome;
    content: '\f0c1';
    color: #fff;
    top: 0px;
    left: 10px;
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    color: #9da2a8; }
  .tag:hover::before {
    color: #fff; }
  .tag:hover {
    text-decoration: none;
    color: #fff;
    background-color: #59cbf8;
    border-color: #59cbf8; }

.categiries {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px; }
  .categiries li {
    margin: 10px 0; }
  .categiries a, .categiries .widget .nav-tabs li.active a, .widget .nav-tabs li.active .categiries a {
    color: #9da2a8; }
    .categiries a span, .categiries .widget .nav-tabs li.active a span, .widget .nav-tabs li.active .categiries a span {
      display: inline-block;
      height: 26px;
      min-width: 26px;
      line-height: 26px;
      padding: 0 6px;
      text-align: center;
      font-weight: normal;
      margin-right: 10px;
      border: 1px solid #9da2a8;
      border-radius: 4px;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
    .categiries a:hover, .categiries .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .categiries a:hover {
      text-decoration: none; }
      .categiries a:hover span, .categiries .widget .nav-tabs li.active a:hover span, .widget .nav-tabs li.active .categiries a:hover span {
        background-color: #59cbf8;
        color: #fff;
        border-color: #59cbf8; }

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .video-container .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 22, 37, 0.8);
    z-index: 10; }
  @media (max-width: 991px) {
    .video-container {
      display: none; } }

video {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

video.fillWidth {
  width: 100%; }

#google-map {
  height: 420px;
  padding: 0 !important;
  margin: 0 !important; }
  @media (max-width: 767px) {
    #google-map {
      height: 250px; } }

/*================================================
LAYER SLIDER
================================================*/
.ls-nav-prev, .ls-nav-next {
  position: relative;
  line-height: 60px;
  content: "\f104";
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 25px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  border: 2px solid #9da2a8 !important;
  background-color: transparent;
  z-index: 99999999;
  -webkit-transition: all 0.25s ease-in-out !important;
  -moz-transition: all 0.25s ease-in-out !important;
  transition: all 0.25s ease-in-out !important; }
  .ls-nav-prev:hover, .ls-nav-next:hover {
    color: #fff;
    background-color: #59cbf8;
    border: 2px solid #59cbf8 !important; }
  .ls-nav-prev::after, .ls-nav-next::after {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    font-family: FontAwesome;
    font-size: 45px;
    line-height: 60px;
    color: #9da2a8;
    top: -2px;
    left: -2px;
    content: "\f104";
    -webkit-transition: all 0.25s ease-in-out !important;
    -moz-transition: all 0.25s ease-in-out !important;
    transition: all 0.25s ease-in-out !important; }
  .ls-nav-prev:hover::after, .ls-nav-next:hover::after {
    color: #fff; }
  @media (max-width: 1200px) {
    .ls-nav-prev, .ls-nav-next {
      display: none !important; } }

.ls-nav-next {
  right: 25px;
  left: auto; }
  .ls-nav-next::after {
    left: 0;
    content: "\f105"; }

.ls-bottom-nav-wrapper {
  display: block !important; }

.ls-bottom-slidebuttons {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px !important;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); }
  .ls-bottom-slidebuttons a, .ls-bottom-slidebuttons .widget .nav-tabs li.active a, .widget .nav-tabs li.active .ls-bottom-slidebuttons a {
    display: inline-block !important;
    visibility: visible !important;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    line-height: 50px !important;
    border: 2px solid #9da2a8 !important;
    margin: 0 6px -6px 6px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important; }
    .ls-bottom-slidebuttons a:hover, .ls-bottom-slidebuttons .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .ls-bottom-slidebuttons a:hover, .ls-bottom-slidebuttons a.ls-nav-active, .ls-bottom-slidebuttons .widget .nav-tabs li.active a.ls-nav-active, .widget .nav-tabs li.active .ls-bottom-slidebuttons a.ls-nav-active {
      background-color: #59cbf8;
      border-color: #59cbf8 !important; }
  @media (max-width: 768px) {
    .ls-bottom-slidebuttons {
      display: none; } }

#slider {
  padding: 0 !important;
  font-weight: 300; }
  #slider .title {
    font-size: 60px;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      #slider .title {
        font-size: 50px; } }
  #slider p {
    font-size: 20px;
    line-height: 1.5; }
  #slider .button {
    width: auto;
    min-width: 0; }
  #slider .white {
    color: #fff; }

/*================================================
HEADER
================================================*/
header {
  position: relative;
  z-index: 1000; }
  @media (min-width: 768px) {
    header .search-input {
      margin-left: 10px; } }

.header-fixed header {
  position: static; }

#header-top {
  height: 52px;
  line-height: 52px;
  color: #9da2a8;
  text-align: right; }
  #header-top .container > * {
    text-align: center;
    display: inline-block;
    height: 100%;
    padding: 0 18px;
    vertical-align: top; }
    #header-top .container > *:last-child {
      padding-right: 0; }
    #header-top .container > *:not(:last-child) {
      border-right: 1px solid #102238; }
  #header-top a {
    color: #9da2a8; }
    #header-top a:hover {
      color: #59cbf8;
      text-decoration: none; }
  @media (max-width: 600px) {
    #header-top {
      height: auto;
      line-height: 34.66667px;
      text-align: center; }
      #header-top .container > * {
        padding: 0 8px;
        border: none !important; }
      #header-top .socials {
        display: block; }
        #header-top .socials li {
          display: inline-block;
          clear: both;
          float: none; } }

/*================================================
NAVBAR
================================================*/
#header-nav {
  border-bottom: 1px solid #dadde2;
  -webkit-transition: top 0.5s;
  -moz-transition: top 0.5s;
  transition: top 0.5s; }
  @media (min-width: 991px) {
    #header-nav [class*="container"] {
      padding: 0 !important; } }

.header-fixed #header-nav {
  position: fixed;
  top: -150px;
  left: 0;
  width: 100%;
  z-index: 111; }

.header-fixed #header-nav.shown {
  top: 0; }

.navbar-default {
  background-color: transparent;
  border: 0;
  margin: 0; }
  @media (min-width: 768px) {
    .navbar-default a, .navbar-default .widget .nav-tabs li.active a, .widget .nav-tabs li.active .navbar-default a {
      font-weight: 300; } }
  .navbar-default a:hover, .navbar-default .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .navbar-default a:hover {
    color: #59cbf8; }

.navbar-brand {
  position: relative; }
  .navbar-brand img {
    position: absolute;
    top: 50%;
    left: 30px;
    height: 34px;
    width: auto;
    margin-top: -17px; }
    @media (max-width: 991px) {
      .navbar-brand img {
        left: 0; } }

@media (min-width: 768px) {
  .navbar-nav > li > a, .widget .nav-tabs li.active .navbar-nav > li > a {
    position: relative;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px; }
  .navbar-nav > li:last-child > a, .widget .nav-tabs li.active .navbar-nav > li:last-child > a {
    padding-right: 0px; }
  .navbar-nav > li:not(:last-child) > a::after, .widget .nav-tabs li.active .navbar-nav > li:not(:last-child) > a::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #9da2a8; } }

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
    padding: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden; }
    .navbar-right .dropdown-menu li a, .navbar-right .dropdown-menu .widget .nav-tabs li.active a, .widget .nav-tabs .navbar-right .dropdown-menu li.active a {
      background-color: #0a1625;
      height: 45px;
      color: #9da2a8;
      line-height: 45px;
      padding-top: 0;
      padding-bottom: 0; }
      .navbar-right .dropdown-menu li a:hover {
        color: #59cbf8; }
    .navbar-right .dropdown-menu li.active a, .navbar-right .dropdown-menu li.active a:hover {
      color: #59cbf8;
      background-color: #0a1625; }
    .navbar-right .dropdown-menu li:not(:last-child) a {
      border-bottom: 1px solid #59cbf8; } }

/*================================================
SIDEBAR
================================================*/
aside .search-form {
  margin: 0;
  padding: 0;
  width: 100%;
  float: none !important; }
  aside .search-form .search-input {
    width: 100%; }
    aside .search-form .search-input input {
      width: 100%; }

.widget {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 35px; }
  .widget h4 {
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 16px;
    margin-top: 0; }
  .widget .nav-tabs {
    border: none; }
    .widget .nav-tabs a, .widget .nav-tabs li.active a {
      color: #9da2a8;
      font-size: 18px;
      border: none;
      font-weight: normal;
      padding: 0;
      -webkit-transition: color 0.25s ease-in-out;
      -moz-transition: color 0.25s ease-in-out;
      transition: color 0.25s ease-in-out; }
      @media (max-width: 1200px) {
        .widget .nav-tabs a, .widget .nav-tabs li.active a {
          font-size: 16px; } }
      .widget .nav-tabs a:hover, .widget .nav-tabs li.active a:hover {
        border: none;
        background-color: transparent; }
    .widget .nav-tabs li.active a {
      color: #0a1625; }
    .widget .nav-tabs li:not(:last-child) {
      margin-right: 10px; }

/*================================================
CONTENT
================================================*/
#content {
  font-weight: 300; }
  #content h2.title {
    padding: 0;
    margin-bottom: 35px; }

#breadcrumbs {
  padding: 10px 0 !important; }

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0; }
  .breadcrumb a, .breadcrumb .widget .nav-tabs li.active a, .widget .nav-tabs li.active .breadcrumb a {
    color: #9da2a8;
    font-weight: 300; }
  .breadcrumb li.active, .breadcrumb a:hover, .breadcrumb .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .breadcrumb a:hover {
    text-decoration: none;
    color: #0a1625;
    font-weight: 300; }

#posts nav ul {
  margin-top: 0px; }

.thumbnail {
  border: none;
  padding: 0; }
  .thumbnail img {
    width: 100%;
    max-width: none; }
  @media (max-width: 991px) {
    .thumbnail .thumb-wrap img {
      display: none !important; } }
  .thumbnail .thumb-wrap.cover-img {
    width: 100%; }
    @media (max-width: 991px) {
      .thumbnail .thumb-wrap.cover-img {
        height: 250px; } }
  .thumbnail.f-left {
    margin: 0 30px 30px 0; }
  .thumbnail.f-right {
    margin: 0 0 30px 30px; }
  @media (max-width: 991px) {
    .thumbnail.f-left, .thumbnail.f-right {
      float: none;
      margin: 0 0 30px 0; } }

.post {
  margin-bottom: 40px; }
  .post > * {
    margin: 0 0 15px; }
  .post h2 {
    font-size: 18px;
    font-weight: normal; }
  .post .info {
    font-size: 12px;
    color: #9da2a8; }
    .post .info > * {
      display: inline-block; }
      .post .info > *:not(:last-child) {
        margin-right: 15px; }
    .post .info a, .post .info .widget .nav-tabs li.active a, .widget .nav-tabs li.active .post .info a {
      color: #9da2a8; }
      .post .info a:hover, .post .info .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .post .info a:hover {
        text-decoration: none;
        color: #696f76; }
  .post .icon-list li {
    margin: 15px 0; }
  .post::after {
    content: "";
    display: table;
    clear: both; }

article p, article > .block {
  margin-bottom: 17px; }

.our-teams .slick-arrow {
  top: 96px !important;
  margin: 0 !important; }

@media (min-width: 768px) {
  .our-news {
    padding: 60px 0 60px; } }

.news-item {
  max-width: 980px;
  margin: 0 auto; }
  .news-item .news-content {
    margin-left: 255px; }
    @media (max-width: 767px) {
      .news-item .news-content {
        margin: 0; } }
  .news-item .news-photo {
    float: left;
    width: 230px;
    height: 220px;
    margin: 0 25px 0 0; }
    @media (max-width: 767px) {
      .news-item .news-photo {
        float: none;
        margin: 0 0 15px 0;
        width: 100%; } }
  .news-item h3 {
    margin: 0 0 15px; }
  .news-item p {
    font-weight: 300; }

.article-info {
  list-style: none;
  margin: 0 0 15px;
  padding: 0; }
  .article-info li, .article-info a, .article-info .widget .nav-tabs li.active a, .widget .nav-tabs li.active .article-info a {
    display: inline-block;
    font-size: 12px;
    color: #59cbf8;
    text-transform: uppercase;
    line-height: 1; }
  .article-info a:hover, .article-info .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .article-info a:hover {
    color: #0893c9;
    text-decoration: none; }
  .article-info li {
    position: relative;
    padding-right: 20px; }
  .article-info li:not(:last-child)::after {
    display: block;
    position: absolute;
    content: "";
    height: 14px;
    width: 1px;
    right: 10px;
    top: 50%;
    margin-top: -7px;
    background-color: #59cbf8; }

.our-clients {
  margin: 25px 0; }
  .our-clients .client-item {
    display: block;
    height: 45px;
    margin: 0 25px;
    background-size: contain; }
  @media (min-width: 992px) {
    .our-clients .slick-prev {
      left: -36px; }
    .our-clients .slick-next {
      right: -36px; } }

/*================================================
TYPOGRAPHY PAGE
================================================*/
.bs-glyphicons-list {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none; }
  .bs-glyphicons-list li {
    padding: 3px 0; }
    @media (min-width: 650px) {
      .bs-glyphicons-list li {
        float: left;
        width: 50%; } }
    @media (min-width: 992px) {
      .bs-glyphicons-list li {
        width: 25%; } }

.tab-pane {
  padding: 15px; }

.panel {
  /*    .panel-heading {
          background-color: $dark-blue-color;
          color: $white-color;
          
          a {
              color: $white-color;
              
              &:hover {
                  color: darken($white-color, 20);
              }
          }
      }*/ }
  .panel .panel-collapse {
    padding-left: 15px;
    padding-right: 15px; }
    .panel .panel-collapse > * {
      margin: 7px 0; }

/*================================================
PORTFOLIO PAGE
================================================*/
.portfolio-page .grid {
  margin: 0 -7.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  @media (min-width: 768px) {
    .portfolio-page .grid {
      margin: 0 -15px; } }
.portfolio-page .portfolio-img {
  width: auto;
  margin: 15px;
  height: 270px; }
  @media (max-width: 767px) {
    .portfolio-page .portfolio-img {
      margin: 7.5px; } }
.portfolio-page .grid-item {
  width: 33.3333333%; }
  @media (max-width: 991px) {
    .portfolio-page .grid-item {
      width: 50%; } }
  @media (max-width: 650px) {
    .portfolio-page .grid-item {
      width: 100%; } }

.portfolio-filter {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
  overflow: hidden; }
  .portfolio-filter li {
    float: left; }
    .portfolio-filter li a, .portfolio-filter .widget .nav-tabs li.active a, .widget .nav-tabs .portfolio-filter li.active a {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      padding: 0 17px;
      font-size: 14px;
      font-weight: 300;
      color: #d3d5d8;
      border: 1px solid #d3d5d8;
      border-radius: 6px;
      margin: 0 8px 8px 0; }
      .portfolio-filter li a:hover, .portfolio-filter .widget .nav-tabs li.active a:hover, .widget .nav-tabs .portfolio-filter li.active a:hover, .portfolio-filter li a:active, .portfolio-filter .widget .nav-tabs li.active a:active, .widget .nav-tabs .portfolio-filter li.active a:active, .portfolio-filter li a:focus, .portfolio-filter .widget .nav-tabs li.active a:focus, .widget .nav-tabs .portfolio-filter li.active a:focus, .portfolio-filter li a.active, .portfolio-filter .widget .nav-tabs li.active a.active, .widget .nav-tabs .portfolio-filter li.active a.active {
        text-decoration: none;
        border-color: #59cbf8;
        background-color: #59cbf8;
        color: #fff; }

/*================================================
BLOG PAGE
================================================*/
.blog-page {
  padding: 0 !important;
  font-weight: normal; }
  .blog-page .thumb-wrap {
    display: block;
    height: 530px;
    overflow: hidden; }
    @media (max-width: 991px) {
      .blog-page .thumb-wrap {
        height: 350px; } }
    @media (max-width: 767px) {
      .blog-page .thumb-wrap {
        height: 250px; } }
    .blog-page .thumb-wrap::before, .blog-page .thumb-wrap::after {
      display: none; }
    .blog-page .thumb-wrap .cover-img {
      -webkit-transition: all 2s;
      -moz-transition: all 2s;
      transition: all 2s;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .blog-page .thumb-wrap:hover .cover-img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .blog-page .thumb-wrap img {
      display: none; }
  .blog-page .cover-img {
    height: 100%; }
  .blog-page .post .row {
    position: relative; }
    .blog-page .post .row .date {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #59cbf8;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      font-weight: normal; }
      .blog-page .post .row .date span {
        display: block; }
        .blog-page .post .row .date span:first-child {
          font-size: 36px; }
      .blog-page .post .row .date i {
        font-size: 30px; }
      @media (max-width: 767px) {
        .blog-page .post .row .date {
          display: none; } }
  .blog-page .post > * {
    margin: 0; }
  .blog-page .container {
    margin: 0 auto; }
  .blog-page article {
    font-weight: normal; }

.blog-info {
  color: #9da2a8;
  font-size: 12px; }
  .blog-info::after {
    content: "";
    display: table;
    clear: both; }
  .blog-info > li:not(:last-child) {
    padding-right: 25px; }
    @media (min-width: 992px) {
      .blog-info > li:not(:last-child) {
        border-right: 1px solid #9da2a8;
        margin-right: 25px; } }
  @media (max-width: 767px) {
    .blog-info > li {
      margin: 5px !important; } }
  .blog-info > li i {
    top: 0 !important; }
  .blog-info > li a, .blog-info > li .widget .nav-tabs li.active a, .widget .nav-tabs li.active .blog-info > li a {
    color: #9da2a8; }
    .blog-info > li a:hover, .blog-info > li .widget .nav-tabs li.active a:hover, .widget .nav-tabs li.active .blog-info > li a:hover {
      color: #696f76; }
  .blog-info .socials li {
    margin: 0; }
    .blog-info .socials li a, .blog-info .socials .widget .nav-tabs li.active a, .widget .nav-tabs .blog-info .socials li.active a {
      position: relative;
      top: 2px; }
      .blog-info .socials li a:hover {
        color: #59cbf8; }
  @media (max-width: 767px) {
    .blog-info {
      padding: 10px 0 2px;
      margin: 10px 0 15px;
      border-bottom: 1px solid #f2f2f2;
      border-top: 1px solid #f2f2f2; } }

/*================================================
ABOUT PAGE
================================================*/
.about-page h2 {
  margin-top: 15px; }

.testimonials {
  min-height: 410px; }
  .testimonials .item {
    padding: 15px 30px; }
    .testimonials .item > * {
      margin-bottom: 15px; }
    .testimonials .item .t-image {
      display: inline-block;
      width: 190px;
      height: 190px;
      overflow: hidden;
      border-radius: 50%; }
    .testimonials .item .t-name {
      font-weight: bold;
      text-transform: uppercase; }
    .testimonials .item .t-comment p {
      max-width: 410px;
      margin: 0 auto;
      font-weight: 300; }

.carousel .item {
  text-align: center; }

/*================================================
CONTACT PAGE
================================================*/
.contact-page .icon-list {
  line-height: 1.8; }
  .contact-page .icon-list li {
    margin: 15px 0; }
    .contact-page .icon-list li i {
      font-size: 18px;
      color: #9da2a8; }

/*================================================
FOOTER
================================================*/
footer {
  font-size: 12px;
  background-color: #f2f2f2; }

#footer-top {
  padding: 35px 0;
  color: #9da2a8;
  font-size: 14px;
  font-weight: 300; }
  @media (max-width: 991px) {
    #footer-top [class*="col"] {
      margin-bottom: 20px; } }
  #footer-top a {
    color: #9da2a8; }
    #footer-top a:hover {
      color: #59cbf8;
      text-decoration: none; }
  #footer-top .socials li {
    margin-bottom: 0; }
  #footer-top .socials a {
    font-size: 18px; }
  #footer-top li {
    margin: 10px 0; }
  #footer-top i {
    display: inline-block; }
  #footer-top input[type="color"], #footer-top input[type="date"], #footer-top input[type="datetime"], #footer-top input[type="datetime-local"], #footer-top input[type="email"], #footer-top input[type="month"], #footer-top input[type="number"], #footer-top input[type="password"], #footer-top input[type="search"], #footer-top input[type="tel"], #footer-top input[type="text"], #footer-top input[type="time"], #footer-top input[type="url"], #footer-top input[type="week"], #footer-top input:not([type]), #footer-top textarea {
    height: 33px; }

#footer-bottom {
  height: 68px;
  line-height: 68px;
  color: #525252; }
  #footer-bottom .copyright {
    float: left; }
    @media (max-width: 767px) {
      #footer-bottom .copyright {
        float: none;
        text-align: center; } }
  #footer-bottom .footer-nav {
    float: right; }
    #footer-bottom .footer-nav li {
      padding: 0; }
    #footer-bottom .footer-nav a {
      position: relative;
      color: #525252;
      padding: 0 20px; }
      #footer-bottom .footer-nav a:hover {
        text-decoration: none;
        color: #59cbf8; }
    #footer-bottom .footer-nav li:last-child a {
      padding-right: 0; }
    #footer-bottom .footer-nav li:not(:last-child) a::after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 1px;
      height: 11px;
      margin-top: -5.5px;
      background-color: #525252; }
    @media (max-width: 767px) {
      #footer-bottom .footer-nav {
        display: none; } }

/* menu on hover - with animation */
@media (min-width: 768px) {
  .dropdown.drop-collapsed .dropdown-menu {
    height: 0 !important;
    z-index: -1; }

  .dropdown .dropdown-menu {
    overflow: hidden;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }

  .navbar-nav > li > .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0); }

  .navbar-nav > li.open .dropdown-menu {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); } }
@media (max-width: 767px) {
  .dropdown-menu {
    height: auto !important; } }
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  background-color: rgba(10, 22, 37, 0.8);
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #9da2a8; }

.mfp-arrow-right:hover:before, .mfp-arrow-right:hover .mfp-b {
  border-left: 27px solid #59cbf8; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  border-right: 27px solid #9da2a8; }

.mfp-arrow-left:hover:before, .mfp-arrow-left:hover .mfp-b {
  border-right: 27px solid #59cbf8; }

/*# sourceMappingURL=main.css.map */
