/*================================================
ABOUT PAGE
================================================*/
.about-page h2 {
    margin-top: 15px;
}

.testimonials {
    min-height: 410px;

    .item {
        padding: 15px 30px;

        > * {
            margin-bottom: 15px;
        }
        .t-image {
            display: inline-block;
            width: 190px;
            height: 190px;
            overflow: hidden;
            border-radius: 50%;
        }

        .t-name {
            font-weight: bold;
            text-transform: uppercase;
        }

        .t-comment {
            p {
                max-width: 410px;
                margin: 0 auto;
                font-weight: 300;
            }
        }
    }
}

.carousel {
    .item {
        text-align: center;
    }
}