/*================================================
BLOG PAGE
================================================*/
.blog-page {
    padding: 0 !important;
    font-weight: normal;

    .thumb-wrap {
        display: block;
        height: 530px;
        overflow: hidden;

        @media (max-width: 991px) {
            height: 350px;
        }

        @media (max-width: 767px) {
            height: 250px;
        }

        &::before, &::after {
            display: none;
        }

        .cover-img {
            @include transition(all 2s);
            @include transform(scale(1));
        }

        &:hover .cover-img {
            @include transform(scale(1.2));
        }


        img {
            display: none;
        }
    }

    .cover-img {
        height: 100%;
    }

    .post {
        .row {
            position: relative;

            .date {
                position: absolute;
                top: 50%;
                left: 0;
                @include transform(translate(0, -50%));

                color: $light-blue-color;
                font-size: 22px;
                line-height: 30px;
                text-align: center;
                font-weight: normal;

                span {
                    display: block;

                    &:first-child {
                        font-size: 36px;
                    }
                }

                i {
                    font-size: 30px;
                }

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }

    .post > * {
        margin: 0;
    }

    .container {
        margin: 0 auto;
    }

    article {
        font-weight: normal;
    }
}

.blog-info {

    color: $gray-color;
    font-size: 12px;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

    > li {

        &:not(:last-child) {
            padding-right: 25px;

            @media (min-width: 992px) {
                border-right: 1px solid $gray-color;
                margin-right: 25px;
            }
        }

        @media (max-width: 767px) {
            margin: 5px !important;
        }

        i {
            top: 0 !important;
        }

        a {
            color: $gray-color;
            &:hover {
                color: darken($gray-color, 20);
            }
        }
    }

    .socials {
        li {
            margin: 0;

            a {
                position: relative;
                top: 2px;

                &:hover {
                    color: $light-blue-color;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding: 10px 0 2px;
        margin: 10px 0 15px;
        border-bottom: 1px solid $light-gray-color;
        border-top: 1px solid $light-gray-color;
    }
}