@import "_variables.scss";

$icon-font-path: "../fonts/bootstrap/";

/*nav bar*/
$navbar-height: 60px;
$navbar-padding-vertical:          0;

$navbar-default-color: $gray-color;
$navbar-default-link-hover-color: $light-blue-color;

$nav-tabs-active-link-hover-color: $light-blue-color;
$navbar-default-link-active-color: $light-blue-color;
$navbar-default-link-active-bg: transparent;

$input-border: $light-gray-color;

$pagination-hover-bg: transparent;
$pagination-border: transparent;
$pagination-active-border: transparent;
$pagination-hover-border: transparent;
$pagination-active-bg: transparent;
$pagination-hover-color: $light-blue-color;
$pagination-color: $gray-color;

/* colors */
//$gray-base: #0a1625;

$gray-light:                  $gray-color;
$gray-lighter:            $light-gray-color;

$brand-primary:         $light-blue-color;
$brand-success:         $green-color;
$brand-info:            darken($light-blue-color, 20);
$brand-warning:         $orange-color;
$brand-danger:          $red-color;