/*================================================
CLASSES
================================================*/
.phone {
    display: inline-block;
    position: relative;
    padding-left: 25px;

    &::before {
        font-family: FontAwesome;
        position: absolute;
        display: block;
        content: "\f095";
        line-height: 1;
        top: 50%;
        margin-top: -8px;
        left: 0px;
        font-size: 16px;
    }
}

.email {
    @extend .phone;

    &::before {
        font-size: 12px;
        margin-top: -6px;
        content: "\f0e0";
    }
}

.socials {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        float: left;

        a {
            display: inline-block;
            color: $gray-color;
            font-size: 14px;

            &:hover {
                color: $light-blue-color;
            }
        }

        &:not(:last-child) a {
            margin-right: 20px;
        }
    }
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.socials.rounded {
    @extend .socials;
    display: block;

    &::after {
        content:"";
        display:table;
        clear:both;
    }

    li {
        a {
            position: relative;
            font-size: 16px;
            text-align: center;
            $height: 35px;
            height: $height;
            width: $height;
            line-height: $height;
            background-color: $white-color;
            overflow: visible;

            border: 1px solid darken($light-gray-color, 10);
            border-radius: 50%;

            &::before {
                opacity: 0;
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                border-radius: 50%;

                background-color: $light-blue-color;
                z-index: 0;

                @include transition(all 0.3s);
                @include transform(scale(1.5));
            }

            &:hover {
                background-color: $light-blue-color;
                color: $white-color;
                border-color: $light-blue-color;
            }

            &:hover::before {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }

}


.bg-dark-blue {
    background-color: $dark-blue-color;
}

.bg-light-blue {
    background-color: $light-blue-color;
}

.bg-light-gray {
    background-color: $light-gray-color;
}

.bg-white {
    background-color: $white-color;
}

.bg-mask {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: $white-color;

    box-sizing: border-box;

    * {
        position: relative;
        z-index: 5;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-blue-color, 0.8);
        z-index: 0;
    }
}

[data-type="background"] {
    background-repeat: repeat-y;
    background-attachment: fixed;

    @media (max-width: 991px) {
        background-position: center !important;
        background-attachment: scroll;
    }
}

.one-line {
    min-height: 58px;
    font-size: medium;
    line-height: 58px;


    @media (max-width: 991px) {
        text-align: center;
        line-height: 1.5;
    }
}

.text-lager {
    font-size: 18px;
    font-weight: 300;
}

.cover-img {
    text-align: center;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        height: 100%;
        width: auto;
    }
}


.button {
    $height: 58px;

    position: relative;
    display: inline-block;
    color: $white-color;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: $light-blue-color;
    height: $height;
    min-width: 240px;
    line-height: $height;
    padding: 0 23px;
    border: 1px solid $light-blue-color;
    border-radius: 6px;

    box-sizing: border-box;

    &:hover, &:focus, &:active {
        color: $white-color;
        text-decoration: none;

        border: 1px solid darken($light-blue-color, 20);

        background-color: darken($light-blue-color, 20);
    }

    &.button-small {
        $height: 30px;

        height: $height;
        line-height: $height;
        min-width: 120px;
        font-size: 14px;

        border-radius: 4px;
    }

    &.nobg {
        background-color: transparent;
        color: $gray-color;
        border: 1px solid $gray-color;

        &:hover {
            background-color: $light-blue-color;
            border-color: $light-blue-color;
            color: $white-color;
        }
    }
}

.thumb-wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;

    img {
        @include transition(all 2s);
        @include transform(scale(1));
    }

    &::before {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($dark-blue-color, 0.8);
        z-index: 5;

        @include transition(all 0.25s ease-in-out);
    }

    &::after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: block;
        font-family: FontAwesome;
        color: $white-color;
        content: '\f00e';
        padding: 15px;
        font-size: 50px;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%) scale(1.5));
        @include transition(all 0.25s ease-in-out);

        z-index: 6;
    }

    &:hover {
        img {
            @include transform(scale(1.2));
        }

        &::before, &::after {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            @include transform(translate(-50%, -50%) scale(1));
        }
    }
}


.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: block;
        float: left;
    }
}


.list-check {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        padding-left: 50px;
        margin: 18px 0;

        &::before {
            position: absolute;
            font-family: FontAwesome;
            font-size: 30px;
            color: $gray-color;
            content: "\f046";
            left: 0;
            top: 50%;
            @include transform(translate(0, -50%));
        }
    }
}

.fixed {
    position: fixed;
}

.bordered {
    border-top: 1px solid #dcdddf;
    border-bottom: 1px solid #dcdddf;
}

.search-input {
    $width: 35px;

    position: relative;

    &::after {
        font-family: FontAwesome;
        color: $gray-color;
        line-height: 34px;
        text-align: center;
        font-size: 14px;
        position: absolute;
        display: block;
        top: 0;
        right: 0px;
        height: 100%;
        width: $width;
        content: "\f002";
    }

    .form-control {
        padding-right: $width;

        @media (min-width: 768px) {
            width: 220px;
        }
    }
}


.iconic {
    text-align: center;
    padding: 15px;

    > * {
        margin: 7px 0;
    }

    i {
        $size: 130px;

        color: $main-text-color;

        display: inline-block;
        position: relative;
        width: $size;
        height: $size;

        border: 1px solid black;
        border-radius: 50%;

        overflow: visible;

        @include transition(color 0.25s ease-in-out);

        &::before {
            position: relative;
            font-size: 50px;
            line-height: $size;

            z-index: 1;
        }

        &::after {
            opacity: 0;
            display: block;
            position: absolute;
            content: "";
            width: $size - 2;
            height: $size - 2;

            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: $gray-color;

            @include transition(all 0.35s $ease-out-back);
            @include transform(scale(1.2));

            z-index: 0;
        }
    }

    &:hover i {
        color: $white-color !important;
    }

    &:hover i::after {
        opacity: 1;
        @include transform(scale(0.92));
    }

    &.red i {
        color: $red-color;
        border-color: $red-color;

        &::after {
            background-color: $red-color;
        }
    }

    &.green i {
        color: $green-color;
        border-color: $green-color;

        &::after {
            background-color: $green-color;
        }
    }

    &.blue i {
        color: $blue-color;
        border-color: $blue-color;

        &::after {
            background-color: $blue-color;
        }
    }

    &.orange i {
        color: $orange-color;
        border-color: $orange-color;

        &::after {
            background-color: $orange-color;
        }
    }

    .title {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.sm-iconic {
    position: relative;
    padding-left: 80px;

    i {
        position: absolute;
        top: 50%;
        left: 15px;

        font-size: 30px;
        color: $light-blue-color;

        @include transform(translate(0, -50%));
    }
}

.iconic-meter {
    text-align: center;
    padding: 20px 10px 10px;

    i {
        font-size: 72px;
    }

    .meter {
        font-size: 48px;
        font-weight: 500;
    }

    .description {
        font-size: 30px;
        font-weight: 300;
    }
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
    font-family: 'Roboto', sans-serif;
}


.scrollingcarousel {
    &:not(:last-child) {
        margin-bottom: 30px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }
}


.portfolio-img {
    position: relative !important;
    text-align: center;
    margin: 0 15px;
    width: 350px;
    height: 225px;
    overflow: hidden;

    .description {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 2;
        color: $white-color;

        background-color: rgba($dark-blue-color, 0.8);

        @include transition(all 0.4s ease-in-out);

        > div  {
            position: absolute;
            top: 50%;
            /*            margin-top: -45px;*/
            width: 100%;
            @include transform(translate(0, -50%));
        }

        .title {
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
        }

        a {
            display: inline-block;
            margin: 0 10px;
            color: $white-color;
            font-size: 18px;

            &:hover {
                color: $light-blue-color;
            }
        }
    }

    &:hover {
        .description {
            opacity: 1;
            visibility: visible;
        }
    }
}


.slick-slider * {
    outline: none;
}
.team-member {
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    overflow: hidden;

    .mem-photo {
        width: 100%;
        height: 225px;
        text-align: center;
        margin-bottom: 15px;
    }

    .mem-name {
        font-size: 24px;
        font-weight: bold;
    }

    .mem-prof {
        font-size: 18px;
    }

    .mem-desc {
        padding: 10px 0;
    }

    .socials.rounded {
        text-align: center;
        li {
            float: none;
            display: inline-block;

            a {
                margin: 5px 10px;
            }
        }
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    overflow: hidden;
    font-size: 0;
    line-height: 0;

    text-align: center;
    padding: 0;
    width: 36px;
    height: 36px;

    background-color: transparent;
    border: none;

    margin-top: -18px;

    z-index: 99;

    &::after {
        font-family: FontAwesome;
        font-size: 30px;
        display: block;
        width: 36px;
        height: 36px;
        top: 0;
        left: 0;
        position: absolute;
        content: "\f105";
        color: $gray-color;
        text-align: center;
        line-height: 32px;
        background-color: $white-color;
        border-radius: 4px;
        border: 1px solid darken($light-gray-color, 10);
        
        @include transition(color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out);
    }

    &.slick-prev::after {
        content: "\f104 ";
    }

    &:hover::after {
        color: $light-blue-color;
    }

    i {
        font-size: 30px;
        line-height: 27px;
    }

    &.rounded {
        border-radius: 50%;
        &::after {
            border-radius: 50%;
            color: $gray-color;
            border: 2px solid $gray-color;
            line-height: 30px;
        }

        &:hover::after {
            color: $white-color;
            background-color: $light-blue-color;
            border-color: $light-blue-color;
        }
    }

    &.rounded-big {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &::after {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: $gray-color;
            border: 2px solid $gray-color;
            line-height: 43px;
            font-size: 45px;
            background-color: transparent;
        }

        &:hover::after {
            color: $white-color;
            background-color: $light-blue-color;
            border-color: $light-blue-color;
        }
    }
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}


.pagination {

    a:not(.next):not(.previous) {
        font-size: 18px;
        color: $gray-color;
        padding: 6px 6px;
    }

    a:hover, li.active a {
        color: $light-blue-color !important;
    }
}

.pagination-container {
    padding-top: 0;
    margin-top: -30px;
}

.next {
    position: relative;
    left: 15px;
    top: 3px;

    $size: 35px;

    display: inline-block;
    width: $size;
    height: $size;
    border: 1px solid lighten($gray-color, 20) !important;
    border-radius: 4px;
    line-height: $size;
    text-align: center;
    padding: 0 !important;

    i {
        font-size: 30px;
    }
}

.previous {
    @extend .next;
    left: -15px;
}


.recent-proj {
    list-style: none;
    margin: 0 0 -20px 0;
    padding: 0;
    text-align: justify;
    line-height: 1;

    li {
        $size: 65px;
        display: inline-block;
        width: $size;
        height: $size;
        overflow: hidden;
        margin-bottom: 20px;

        a {
            display: inline-block;
            width: 100%;
            height: 100%;

            @include transition(all 0.5s $ease-out-expo);
            @include transform(scale(1));

            &:hover {
                @include transform(scale(1.2));
            }
        }
    }
}

.helper {
    display: inline-block !important;
    width: 100% !important;
    height: 0 !important;
    visibility: hidden;
    margin: 0 !important;
}


.list-of-posts {
    list-style: none;
    margin: 0;
    padding: 0;

    &::after {
        content:"";
        display:table;
        clear:both;
    }

    li {
        margin: 20px 0;
    }

    .cover-img {
        $size: 62px;
        width: $size;
        height: $size;
        float: left;
    }

    .lp-content {
        margin-left: 70px;
    }

    h4 {
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase !important;
        margin: 0 0 7px !important;

        border-bottom: 1px solid $light-gray-color;

        a {
            color: $main-text-color;

            &:hover {
                text-decoration: none;
                color: $light-blue-color;
            }
        }

        time {
            display: block;
            font-size: 12px;
            font-weight: 300;
            padding: 4px 0;
            text-transform: none;
        }
    }

    .info {
        font-size: 12px;

        a {
            display: inline-block;
            color: $gray-color;
            margin-right: 10px;

            &:hover {
                text-decoration: none;
                color: darken($gray-color, 20);
            }
        }
    }
}


.tag {
    display: inline-block;
    position: relative;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 35px;
    text-transform: lowercase;
    margin: 0 0px 7px 0;

    color: $gray-color;

    border: 1px solid $gray-color;
    border-radius: 6px;

    color: $gray-color;

    &::before {
        position: absolute;
        display: block;
        font-family: FontAwesome;
        content: '\f0c1';
        color: $white-color;
        top: 0px;
        left: 10px;

        @include transition(color 0.25s ease-in-out);
        color: $gray-color;
    }

    &:hover::before {
        color: $white-color;
    }

    &:hover {
        text-decoration: none;
        color: $white-color;
        background-color: $light-blue-color;
        border-color: $light-blue-color;
    }
}


.categiries {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;

    li {
        margin: 10px 0;
    }

    a {
        color: $gray-color;

        span {
            display: inline-block;
            height: 26px;
            min-width: 26px;
            line-height: 26px;
            padding: 0 6px;
            text-align: center;
            font-weight: normal;

            margin-right: 10px;

            border: 1px solid $gray-color;
            border-radius: 4px;

            @include transition(all 0.25s ease-in-out);
        }

        &:hover {
            text-decoration: none;

            span {
                background-color: $light-blue-color;
                color: $white-color;
                border-color: $light-blue-color;
            }
        }
    }
}

.video-container {
    position: absolute;
    top: 0%; left: 0%;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;

    z-index: 1;

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-blue-color, 0.8);

        z-index: 10;
    }

    @media (max-width: 991px) {
        display: none;
    }
}

video {
    position:absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}
video.fillWidth {
    width: 100%;
}

#google-map {
    height: 420px;
    padding: 0 !important;
    margin: 0 !important;

    @media (max-width: 767px) {
        height: 250px;
    }
}