/*================================================
CONTENT
================================================*/
#content {
    font-weight: 300;

    h2.title {
        padding: 0;
        margin-bottom: 35px;
    }
}

#breadcrumbs {
    padding: 10px 0 !important;
}

.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;

    a {
        color: $gray-color;
        font-weight: 300;
    }

    li.active, a:hover {
        text-decoration: none;
        color: $main-text-color;
        font-weight: 300;
    }
}

#posts {
    nav ul {
        margin-top: 0px;
    }
}

.thumbnail {
    border: none;
    padding: 0;

    img {
        width: 100%;
        max-width: none;
    }

    .thumb-wrap {
        img {
            @media (max-width: 991px) {
                display: none !important;
            }
        }
        &.cover-img {
            width: 100%;
            @media (max-width: 991px) {
                height: 250px;
            }
        }   
    }


    &.f-left {
        margin: 0 30px 30px 0;
    }

    &.f-right {
        margin: 0 0 30px 30px;
    }

    @media (max-width: 991px) {
        &.f-left, &.f-right {
            float: none;
            margin: 0 0 30px 0;
        }
    }

}

.post {
    margin-bottom: 40px;

    > * {
        margin: 0 0 15px;
    }

    h2 {
        font-size: 18px;
        font-weight: normal;
    }

    .info {
        font-size: 12px;
        color: $gray-color;

        > * {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        a {
            color: $gray-color;

            &:hover {
                text-decoration: none;
                color: darken($gray-color, 20);
            }
        }
    }

    .icon-list {
        li {
            margin: 15px 0;
        }
    }

    &::after {
        content:"";
        display:table;
        clear:both;
    }
}

article {
    p, > .block {
        margin-bottom: 17px;
    }
}



.our-teams {
    .slick-arrow {
        top: 96px !important;
        margin: 0 !important;
    }
}


.our-news {
    @media (min-width: 768px) {
        padding: 60px 0 60px;
    }
}

.news-item {

    max-width: 980px;
    margin: 0 auto;

    .news-content {
        margin-left: 255px;

        @media (max-width: 767px) {
            margin: 0;
        }
    }

    .news-photo {
        float: left;
        width: 230px;
        height: 220px;
        margin: 0 25px 0 0;

        @media (max-width: 767px) {
            float: none;
            margin: 0 0 15px 0;
            width: 100%;
        }
    }

    h3 {
        margin: 0 0 15px;
    }

    p {
        font-weight: 300;
    }
}

.article-info {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;

    li, a {
        display: inline-block;
        font-size: 12px;
        color: $light-blue-color;
        text-transform: uppercase;
        line-height: 1;
    }

    a:hover {
        color: darken($light-blue-color, 25);
        text-decoration: none;
    }

    li {
        position: relative;
        padding-right: 20px;
    }

    li:not(:last-child)::after {
        display: block;
        position: absolute;
        content: "";
        height: 14px;
        width: 1px;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        background-color: $light-blue-color;
    }
}


.our-clients {
    margin: 25px 0;

    .client-item {
        display: block;
        height: 45px;
        margin: 0 25px;

        background-size: contain;
    }

    @media (min-width: 992px) {
        .slick-prev {
            left: -36px;
        }

        .slick-next {
            right: -36px;
        }
    }

}