/*================================================
CONTACT PAGE
================================================*/
.contact-page {
    .icon-list {
        line-height: 1.8;

        li {
            margin: 15px 0;

            i {
                font-size: 18px;
                color: $gray-color;
            }
        }
    }
}