/* menu on hover - with animation */

@media (min-width: 768px) {
    .dropdown.drop-collapsed .dropdown-menu {
        height: 0 !important;
        z-index: -1;
    }
    .dropdown .dropdown-menu {
        overflow: hidden;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .navbar-nav > li > .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .navbar-nav > li.open .dropdown-menu {
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
    } 
}

@media (max-width: 767px) {
    .dropdown-menu {
        height: auto !important;
    }
}