/*================================================
FOOTER
================================================*/
footer {
    font-size: 12px;
    background-color: $light-gray-color;
}

#footer-top {
    padding: 35px 0;
    color: $gray-color;
    font-size: 14px;
    font-weight: 300;

    [class*="col"] {
        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    a {
        color: $gray-color;

        &:hover {
            color: $light-blue-color;
            text-decoration: none;
        }
    }

    .socials li {
        margin-bottom: 0;
    }
    .socials a {
        font-size: 18px;
    }

    li {
        margin: 10px 0;
    }

    i {
        display: inline-block;
    }

    #{$all-text-inputs} {
        height: 33px;
    }
}

#footer-bottom {
    height: $footer-height;
    line-height: $footer-height;
    color: $dark-gray-color;

    .copyright {
        float: left;

        @media (max-width: 767px) {
            float: none;
            text-align: center;
        }
    }

    .footer-nav {
        float: right;

        li {
            padding: 0;
        }

        a {
            position: relative;
            color: $dark-gray-color;
            padding: 0 20px;

            &:hover {
                text-decoration: none;
                color: $light-blue-color;
            }
        }

        li:last-child a {
            padding-right: 0;
        }

        li:not(:last-child) a::after {
            $height: 11px;
            display: block;
            position: absolute;
            content: "";
            top: 50%;
            right: 0;
            width: 1px;
            height: $height;
            margin-top: -($height / 2);
            background-color: $dark-gray-color;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}