/*================================================
HEADER
================================================*/
header {
    position: relative;
    z-index: 1000;
    
    .search-input {
        @media (min-width: 768px) {
            margin-left: 10px;
        }
    }
}

.header-fixed header {
    position: static;
}

#header-top {
    height: $header-top-height;
    line-height: $header-top-height;
    color: $gray-color;
    text-align: right;

    .container > * {
        text-align: center;
        display: inline-block;
        height: 100%;
        padding: 0 18px;
        vertical-align: top;

        &:last-child {
            padding-right: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid #102238;
        }
    }

    a {
        color: $gray-color;

        &:hover {
            color: $light-blue-color;
            text-decoration: none;
        }
    }

    @media (max-width: 600px) {
        height: auto;
        line-height: $header-top-height / 1.5;
        text-align: center;

        .container > * {
            padding: 0 8px;
            border: none !important;

        }

        .socials {
            display: block;


            li {
                display: inline-block;
                clear: both;
                float: none;
            }
        }
    }
}