/*================================================
LAYER SLIDER
================================================*/

.ls-nav-prev {
    position: relative;
    line-height: 60px;
    content: "\f104";
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 25px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    border: 2px solid $gray-color !important;
    background-color: transparent;
    z-index: 99999999;
    
    @include transition(all 0.25s ease-in-out !important);
    
    &:hover {
        color: $white-color;
        background-color: $light-blue-color;
        border: 2px solid $light-blue-color !important;
    }

    &::after {
        $size: 60px;
        position: absolute;
        display: block;
        width: $size;
        height: $size;
        font-family: FontAwesome;
        font-size: 45px;
        line-height: $size;
        color: $gray-color;
        top: -2px;
        left: -2px;
        content: "\f104";
        
        @include transition(all 0.25s ease-in-out !important);
    }
    
    &:hover::after {
        color: $white-color;
    }
    
    @media (max-width: 1200px) {
        display: none !important;
    }
}

.ls-nav-next {
    @extend .ls-nav-prev;

    right: 25px;
    left: auto;
    
    &::after {
        left: 0;
        content: "\f105";
    }
}

.ls-bottom-nav-wrapper {
    display: block !important;
}

.ls-bottom-slidebuttons {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px !important;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    
    a {
        display: inline-block !important;
        visibility: visible !important;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        line-height: 50px !important;
        border: 2px solid $gray-color !important;
        margin: 0 6px -6px 6px;
        
        @include transition(all 0.3s ease-in-out !important);
        
        &:hover, &.ls-nav-active {
            background-color: $light-blue-color;
            border-color: $light-blue-color !important;
        }
    }
    
    @media (max-width: 768px) {
        display: none;
    }
}


#slider {
    padding: 0 !important;
    font-weight: 300;
    
    .title {
        font-size: 60px;
        
        text-transform: uppercase;
        
        @media (max-width: 768px) {
            font-size: 50px;
        }
    }
    
    p {
        font-size: 20px;
        line-height: 1.5;
    }
    
    .button {
        width: auto;
        min-width: 0;
    }
    
    .white {
        color: $white-color;
    }
}