/*================================================
MAIN STYLES
================================================*/
html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body.header-fixed {
    margin-top: $header-nav-height;
}

a, .button, button {
    @include transition(all 0.25s ease-in-out);
}

a {
    color: $light-blue-color;

    &.link {
        text-decoration: underline;
    }

    &:hover, &:active, &:focus {
        color: darken($light-blue-color, 20);
        text-decoration: none;
    }
}

#page-wrap > section {
    padding: 35px 0;
    @include perspective(1000px);
}

#page-wrap > section.no-padding {
    padding: 0;
}

#page-wrap > section.bg-dark-blue {
    color: $white-color;
}

h2.title {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 16px 0;
}

h2.title.text-left {
    text-align: left;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

h5 {
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

.big-title {
    text-align: center;
    font-size: 48px;
    margin: 0 0 18px;
    line-height: 1;

    @media (max-width: 991px) {
        font-size: 35px;
    }
}

ul.icon-list {
    li {
        i {
            display: inline-block;
            float: left;
            font-size: 14px;
            position: relative;
            top: 2px;
        }

        span {
            display: block;
            margin-left: 25px;
        }
    }
}


@include selection {
    background-color: $gray-color;
    color: $white-color;
}

#back-to-top {
    display: block;
    position: fixed;
    bottom: 25px;
    right: -100px;

    width: 50px;
    height: 50px;

    color: lighten($gray-color, 15);

    font-size: 50px;
    text-align: center;
    line-height: 50px;

    border: 1px solid lighten($gray-color, 15);
    border-radius: 8px;

    background-color: $white-color;

    z-index: 999;

    &:hover {
        background-color: $light-blue-color;
        border-color: $light-blue-color;
        color: $white-color;
    }

    i {
        position: relative;
        bottom: 4px;
    }

    &.visible {
        right: 25px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

#{$all-text-inputs} {
    border: 1px solid lighten($gray-color, 20) !important;

    -webkit-box-shadow: none;
    box-shadow: none;
}

#{$all-text-inputs-focus} {
    border-color: $light-blue-color !important;
}


.js [data-sr] { visibility: hidden; }

#contact-form {
    .alert {
        display: none;
    }
}