/*================================================
NAVBAR
================================================*/
#header-nav {
    border-bottom: 1px solid #dadde2;
    @include transition(top 0.5s);

    [class*="container"] {
        @media (min-width: 991px) {
            padding: 0 !important;
        }
    }
}

.header-fixed #header-nav {
    position: fixed;
    top: -$header-nav-height * 2.5;
    left: 0;
    width: 100%;

    z-index: 111;
}

.header-fixed #header-nav.shown {
    top: 0;
}

.navbar-default {
    background-color: transparent;
    border: 0;
    margin: 0;

    a {
        @media (min-width: 768px) {
            font-weight: 300;
        }

        &:hover {
            color: $light-blue-color;
        }
    }
}

.navbar-brand {
    position: relative;

    img {
        $height: 34px;
        position: absolute;
        top: 50%;
        left: 30px;
        height: $height;
        width: auto;
        margin-top: -($height / 2);

        @media (max-width: 991px) {
            left: 0;
        }
    }
}

.navbar-nav {
    @media (min-width: 768px) {
        > li > a {
            position: relative;
            line-height: $header-nav-height;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        > li:last-child > a {
            padding-right: 0px;
        }

        > li:not(:last-child) > a::after {
            $height: 12px;

            display: block;
            content: "";
            position: absolute;
            top: 50%;
            right: 0px;
            width: 1px;
            height: $height;
            margin-top: -($height / 2);
            background-color: $gray-color;
        }
    }
}

.navbar-right .dropdown-menu {

    @media (min-width: 768px) {
        right: auto;
        left: 0;
        padding: 0;
        @include border-bottom-radius(6px);
        overflow: hidden;

        li {
            a {
                background-color: $dark-blue-color;
                height: 45px;
                color: $gray-color;
                line-height: 45px;
                padding-top: 0;
                padding-bottom: 0;

                &:hover {
                    color: $light-blue-color;
                }
            }
        }

        li.active a,  li.active a:hover {
            color: $light-blue-color;
            background-color: $dark-blue-color;
        }

        li:not(:last-child) {
            a {
                border-bottom: 1px solid $light-blue-color;
            }
        }
    }
}