/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    background-color: rgba($dark-blue-color, 0.8);

    @include transition(all 0.15s ease-out);

    &.mfp-ready {
        opacity: 0.8;
    }

    &.mfp-removing {
        opacity: 0;
    }
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    @include transition(all 0.15s ease-out);
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid $gray-color;
}
.mfp-arrow-right:hover:before, .mfp-arrow-right:hover .mfp-b {
    border-left: 27px solid $light-blue-color;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    border-right: 27px solid $gray-color;
}
.mfp-arrow-left:hover:before, .mfp-arrow-left:hover .mfp-b {
    border-right: 27px solid $light-blue-color;
}