/*================================================
PORTFOLIO PAGE
================================================*/
.portfolio-page {
    .grid {
        @media (min-width: 768px) {
            margin: 0 -15px;
        }
        margin: 0 -7.5px;
        @include transition(all 0.3s);
    }

    .portfolio-img {
        width: auto;
        margin: 15px;
        height: 270px;

        @media (max-width: 767px) {
            margin: 7.5px;
        }
    }

    .grid-item {
        width: 33.3333333%;

        @media (max-width: 991px) {
            width: 50%;
        }

        @media (max-width: 650px) {
            width: 100%;
        }
    }
}

.portfolio-filter {
    list-style: none;
    margin: 0;
    padding: 0 0 10px 0;
    overflow: hidden;

    li {
        float: left;

        a {
            $height: 30px;
            display: inline-block;
            height: $height;
            line-height: $height;
            padding: 0 17px;
            font-size: 14px;
            font-weight: 300;
            color: lighten($gray-color, 20);
            border: 1px solid lighten($gray-color, 20);
            border-radius: 6px;
            margin: 0 8px 8px 0;

            &:hover, &:active, &:focus, &.active {
                text-decoration: none;
                border-color: $light-blue-color;
                background-color: $light-blue-color;
                color: $white-color;
            }
        }
    }
}