/*================================================
SIDEBAR
================================================*/
aside {

    .search-form {
        margin: 0;
        padding: 0;
        width: 100%;
        float: none !important;

        .search-input {
            width: 100%;
            input {
                width: 100%;
            }
        }
    }
}

.widget {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 35px;

    h4 {
        font-size: 18px;
        text-transform: none;
        font-weight: normal;
        margin-bottom: 16px;
        margin-top: 0;
    }

    .nav-tabs {
        border: none;

        a {
            color: $gray-color;
            font-size: 18px;
            border: none;
            font-weight: normal;
            padding: 0;

            @include transition(color 0.25s ease-in-out);

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            &:hover {
                border: none;
                background-color: transparent;
            }
        }

        li.active a {
            @extend a;

            color: $main-text-color;
        }

        li:not(:last-child) {
            margin-right: 10px;
        }
    }
}