/*================================================
STYCKY FOOTER
================================================*/
$footer-full-height: 365px;

body, html {
    height: 100%;
}

#page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-full-height;
}

#page-wrap:after {
    content: "";
    display: block;
}

#footer-bottom, #page-wrap:after {
    height: $footer-height;
}

#page-wrap:after {
    height: $footer-full-height;
}