/*================================================
TYPOGRAPHY PAGE
================================================*/
.bs-glyphicons-list {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style: none;
    
    li {
        padding: 3px 0;
        @media (min-width: 650px) {
            float: left;
            width: 50%;
        }
        @media (min-width: 992px) {
            width: 25%;
        }
    }
}

.tab-pane {
    padding: 15px;
}

.panel {
/*    .panel-heading {
        background-color: $dark-blue-color;
        color: $white-color;
        
        a {
            color: $white-color;
            
            &:hover {
                color: darken($white-color, 20);
            }
        }
    }*/
    
    .panel-collapse {
        padding-left: 15px;
        padding-right: 15px;
        
        > * {
            margin: 7px 0;
        }
    }
}