/* colors */
$dark-blue-color: #0a1625;
$light-blue-color: #59cbf8;
$light-gray-color: #f2f2f2;
$gray-color: #9da2a8;
$dark-gray-color: #525252;
$white-color: #fff;

$main-text-color: #0a1625;


$red-color: #f45b55;
$green-color: #46be77;
$blue-color: #30a29a;
$orange-color: #fb7a36;



$header-top-height: 52px;
$header-nav-height: 60px;

$footer-height: 68px;

